[defaults]
inventory      = inventory.yml
roles_path     = roles
collections_path = collections
host_key_checking = False
stdout_callback = yaml
forks = 10
timeout = 60
retry_files_enabled = False

[inventory]
enable_plugins = yaml, ini, host_list

[ssh_connection]
pipelining = True
